/**
* typography.less
* base typography for any website, based on Skeleton but converted all pixels to
* ems.
*/

/* the base font-size for the body is 14px, make it a bit smaller than 16px
 * which is the base for most browsers */
body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #181818;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: .3em;

  a {
    font-weight: inherit;
  }
}

/**
* typographic scale: http://spencermortensen.com/articles/typographic-scale/
* start from "48px" for h1, as the base font-size is 14px, use (48/14)ems.
*/
h1 {
  font-size: 3.428571em;
}

h2 {
  font-size: 2.571428em;
}

h3 {
  font-size: 1.714285em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.285714em;
}

h6 {
  font-size: 1.142857em;
}

.subheader {
  color: #777;
}

p {
  margin: 0 0 1.5em 0;
  line-height: 1.5em;

  img {
    margin: 0;
  }

  &.lead {
    font-size: 1.5em;
    line-height: 1.3em;
    color: #777;
  }
}

/*
* ideally a paragraph should have around ~65 characters per line, if you want to
* foce this measure, add a "measured" class to a container, and all paragraphs
* inside will have an according max-width to limit CPL.
*/
.measured {
  p {
    max-width: 30em;
  }
}


em {
  font-style: italic;
}

strong {
  font-weight: bold;
  color: #333;
}

small {
  font-size: 80%;
}

blockquote,
blockquote p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #777;
  font-style: italic;
}

blockquote {
  margin: 0 0 1.176470em;
  padding: .5em 1.2em 0 1.1em;
  border-left: 1px solid #ddd;

  cite {
    display: block;
    font-size: .8em;
    color: #555;

    &:before {
      content: '\2014 \0020';
    }

    a,
    a:visited {
      color: #555;
    }
  }
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}
