/**
* typography.less
* set up some base typography styles.
*/

/**
* set the default font family, size, line height and colors 
* use 100% font size so it follows browser's user configuration, most of the
* time this is 16px.
* also use "Helvetica Neue" if available, fall back to Helvetica, and Arial.
*/
body {
  background: #fff;
  color: #444;
  font: 100%/1.5em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
* Set up a nice base style with a serif font for headers, try to use "Georgia"
* as it's optimized for screen display and installed in most systems. All
* headers will share a 1.2em (120%) line height.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: .3em;

  /**
  * optimize ligibility of headers for supported browsers, this makes the
  * browser render fonts slowly but also enables kerning and optional ligature
  * information defined in the font but can be quite slower for lots of text,
  * it's safe to use it for headers, but if you want to use it for paragraphs,
  * beware mobile might be slow.
  * <http://css-tricks.com/almanac/properties/t/text-rendering/>
  */
  text-rendering: optimizeLegibility;

  a {
    font-weight: inherit;
  }
}

/**
* set typographic scale 
* <http://spencermortensen.com/articles/typographic-scale/>
* start from "48px" for h1, as the base font-size is 16px, use (48/16)ems.
*/
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3125em;
}

h6 {
  font-size: 1.125em;
}

.subheader {
  color: #777;
}

p {
  margin: 0 0 1.5em 0;
  line-height: 1.45em;

  img {
    margin: 0;
  }

  &.lead {
    font-size: 1.5em;
    line-height: 1.3em;
    color: #777;
  }
}

/*
* ideally a paragraph should have around ~65 characters per line, if you want to
* foce this measure, add a "measured" class to a container, and all paragraphs
* inside will have an according max-width to limit CPL. Normally you'd archieve
* this by tuning the font size, container width, letter-spacing, etc.
*/
.measured {
  p {
    max-width: 30em;
  }
}

/**
* you should always use an appropiate font for italics and bold, not make the
* browser turn a regular typeface into italics, as it's far from good,
* nevertheless because Thin tries to be generic, force software generated
* italics and bolds.
*/
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #333;
}

small {
  font-size: 80%;
}

blockquote,
blockquote p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #777;
  font-style: italic;
}

blockquote {
  margin: 0 0 1.176470em;
  padding: .5em 1.2em 0 1.1em;
  border-left: 1px solid #ddd;

  cite {
    display: block;
    font-size: .8em;
    color: #555;

    &:before {
      content: '\2014 \0020';
    }

    a,
    a:visited {
      color: #555;
    }
  }
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/*
* inside a section-list, all ordered lists are displayed as follows:
*  1
*   1.1
*   1.2
*    1.2.1
*   1.3
*  2
*   2.1
*  3
*
* useful for indeces and related
*/
.section-list {
  ol {
    /* create a new "section" counter inside each ol */
    counter-reset: section;
    list-style-type: none;
  }

  li:before {
    counter-increment: section;
    content: counters(section, ".") " ";
  }
}

/*
* uppercased text should be spaced accordingly, professional typography
* specifies anything between 5% to 12%.
*/
.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
