/**
* utils.less
* generic classes you can use in your markup for overall goodies
*/

/**
* just add "clearfix" to your element's classes to magically clear all floats
*/
.clearfix {
  zoom: 1;

  &:after,
  &:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:after {
    clear: both;
  }
}

/**
* any element with a hidden attribute or class must be hidden
*/
[hidden],
.hidden {
  /* always hide, thus override other more-specific rules */
  display: none !important;
}

/**
* display an element in full width
*/
.full-width {
  display: block;
  /* make 100% width and override other more-specific rules */
  width: 100% !important;
  /* use border-box if not using it already, so paddings don't mess up with the 
   * width, making it actually bigger than 100% */
  box-sizing: border-box;
}

/**
* pull any element left or right
*/
.pull-right { float: right; }
.pull-left { float: left; }
